
.time-line {
    background-color: #EEE;
    overflow: auto;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: visible;
    padding: 1rem 0;
    scroll-behavior: smooth;
}

.time-line_year {
    font: 0.8rem sans-serif;
    padding: 1rem 0.5rem;
    color: white;
    width: 5rem;
    display: inline-block;
    line-height: 2rem;
    vertical-align: bottom;
    border-width: 0 0 0 1px;
    border-color: #EEE;
    border-style: solid;
    text-align: center;
    margin-bottom: 5.6rem;

}

.time-line_event-article {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}

.time-line_event-avatar {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border-style: solid;
    border-color: #444;
    border-width: 0.3rem;
    transform-style: preserve-3d;
    position: relative;
    margin: 0 auto;
    margin-top: -5.5rem;
    transition: 1s;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;

}
.time-line_event-avatar > div{
   position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;

}


.time-line_back{
    transform: rotateY(180deg);

}
.time-line_front{  transform: rotateY(0deg);}

.time-line_event-avatar:hover {
    transform: rotateY(180deg);
}

.time-line_event-container {

}

.time-line_event-link {
    padding-top: 6.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 10rem;
    color: #282c34;
    text-decoration: none;
    width: 12rem;
    border-width: 0 4rem 0 4rem;
    border-style: solid;
    display: block;
}

.time-line_event-title {
    text-align: center;
    white-space: normal;
    padding: 0;
    margin: 0;
}

.time-line_event-summary {
    overflow: hidden;
    white-space: normal;
    padding: 1rem;
    margin: 0;
}

.time-line_article-footer {
    display: flex;
    justify-content: space-between;
}

.time-line_article-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.time-line_event-avatar-link {
    display: block;
    margin: 0 auto;
}

.time-line_nav {
    font-size: 4rem;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.time-line_previous-event {
    margin: 0 1rem;
}

.time-line_next-event {
    margin: 0 1rem;

}