@font-face {
    font-family: 'rubik';
    src: url('/fonts/rubik-regular-webfont.woff2') format('woff2'),
    url('/fonts/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rubicon-icon-font';
    src: url('/fonts/rubicon-icon-font-webfont.woff2') format('woff2'),
    url('/fonts/rubicon-icon-font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    font-family: rubik;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

html {
    color: #282c34;
    font-size: 62.5%;
    line-height: 1.4;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%; /* 2 */
}





